
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Student_id</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th  scope="col">Action</th>
       <%= button_to { link_to "click here to add new student", action: "new", method: :create } %>
   
     <th  scope="col">Action</th>
     <th  scope="col">Action</th>
     <th  scope="col">Action</th>
    
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
    <td><%= student.id %></td>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= link_to "view all Details", student_path(student) %>
 
    
    <td><%= link_to "Edit/Update", edit_student_path(student) %> </td>
<td><%= link_to "Delete", student_path(student), method: :delete, data: { confirm: "Are you sure to delete student with id- #{student.id}?" } %></td>
<td><%= link_to "Posts", student_posts_path(student) %> </td>


    </tr>
    <tr>
    <% end %>
  </tbody>
</table>



